.slogan-title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
}

.headline {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
}

.dialog-title-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.dialog-title-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.button-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 16px;
}

.button-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
}

.content-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: auto;
}

.content-regular {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: auto;
}

.body-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
}

.body-medium {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
}

.category-list {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: auto;
}

.btn-dialog {
  height: 46px;
  background-color: #448899;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-booking {
  height: 36px;
  background-color: #448899;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-navigation {
  height: 34px;
  padding: 10px;
  cursor: pointer;
}

.btn-member {
  height: 34px;
  background-color: #AABBCC;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.dialog_container .sign_form .signin_btn .btn_spinner .signin_btn.loading .btn_text, .dialog_container .sign_form .signin_btn .btn_spinner .signup_btn.loading .btn_text, .dialog_container .sign_form .signin_btn.loading .btn_text, .dialog_container .sign_form .signup_btn.loading .btn_text {
  display: none;
}
.dialog_container .sign_form .signin_btn .btn_spinner .signin_btn.loading .btn_spinner, .dialog_container .sign_form .signin_btn .btn_spinner .signup_btn.loading .btn_spinner, .dialog_container .sign_form .signin_btn.loading .btn_spinner, .dialog_container .sign_form .signup_btn.loading .btn_spinner {
  display: inline-block;
}

.confirm .pay_btn.loading .btn_text {
  display: none;
}
.confirm .pay_btn.loading .btn_spinner {
  display: inline-block;
}

.content_container .detail_container .section_profile .profile_right .update_btn.loading .btn_text {
  display: none;
}
.content_container .detail_container .section_profile .profile_right .update_btn.loading .btn_spinner {
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cssload-spin-box {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  border-radius: 100%;
  box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  -o-box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  -ms-box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  -webkit-box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  -moz-box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  animation: cssload-spin ease infinite 3.4s;
  -o-animation: cssload-spin ease infinite 3.4s;
  -ms-animation: cssload-spin ease infinite 3.4s;
  -webkit-animation: cssload-spin ease infinite 3.4s;
  -moz-animation: cssload-spin ease infinite 3.4s;
}

.hidden {
  display: none;
}

@keyframes cssload-spin {
  0%, 100% {
    box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  }
  25% {
    box-shadow: -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223), 21px 21px rgb(79, 77, 73);
  }
  50% {
    box-shadow: -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223), 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223);
  }
  75% {
    box-shadow: 21px -21px #dfdfdf, 21px 21px #4f4d49, -21px 21px #dfdfdf, -21px -21px #4f4d49;
  }
}
html, body {
  position: relative;
  padding-top: 35px;
}

.navigation_container {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #E8E8E8;
}
.navigation_container .navigation {
  width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  white-space: nowrap;
}
.navigation_container .navigation .navigation_left {
  margin-left: 10px;
}
.navigation_container .navigation .navigation_left .navigation_left_text {
  color: #448899;
  text-decoration: none;
}
.navigation_container .navigation .navigation_right {
  display: flex;
  color: #666666;
  margin-right: 10px;
}
.navigation_container .navigation .navigation_right p {
  padding: 10px;
  cursor: pointer;
}
.navigation_container .navigation .navigation_right .signout_text {
  display: none;
}

.member_container {
  width: auto;
  position: fixed;
  transform: translateX(-50%);
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}
.member_container.show {
  opacity: 1;
}
.member_container .member_menu {
  border: 1px solid #E8E8E8 !important;
  width: 100px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  color: #666666;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 5px #AAAAAA;
  margin-top: 4px;
}
.member_container .member_menu .menu_item {
  padding: 8px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1;
}

.signup_text, .signin_text {
  cursor: pointer;
}

.signin_container.show, .signup_container.show {
  opacity: 1;
  top: 30%;
  z-index: 1;
}

.dialog_container {
  width: 340px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 60px #AAAAAA;
  background-color: #FFFFFF;
  opacity: 0;
  transition: all 0.2s;
}
.dialog_container::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(-135deg, #337788, #66AABB);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dialog_container .close {
  width: 30px;
  position: absolute;
  top: 20px;
  left: 300px;
  cursor: pointer;
}
.dialog_container p {
  color: #666666;
}
.dialog_container .sign_form {
  margin-top: -10px;
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dialog_container .sign_form input {
  height: 15px;
  color: #757575;
  padding: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
.dialog_container .sign_form .password-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.dialog_container .sign_form .password-wrapper input {
  width: 100%;
}
.dialog_container .sign_form .password-wrapper .eye {
  width: 20px;
  height: 20px;
  background-image: url("/static/data/images/eye_hidden.png");
  background-size: cover;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.dialog_container .sign_form .password-wrapper .eye.open {
  background-image: url("/static/data/images/eye.png");
}
.dialog_container .sign_form .signin_btn, .dialog_container .sign_form .signup_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog_container .sign_form .signin_btn .btn_spinner, .dialog_container .sign_form .signup_btn .btn_spinner {
  display: none;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-top: 2px solid #448899;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.dialog_container .message {
  display: none;
}

@media (max-width: 1200px) {
  .navigation, .member_container {
    width: 95% !important;
  }
}
.dialog_container .sign_form .signin_btn .btn_spinner .signin_btn.loading .btn_text, .dialog_container .sign_form .signin_btn .btn_spinner .signup_btn.loading .btn_text, .dialog_container .sign_form .signin_btn.loading .btn_text, .dialog_container .sign_form .signup_btn.loading .btn_text {
  display: none;
}
.dialog_container .sign_form .signin_btn .btn_spinner .signin_btn.loading .btn_spinner, .dialog_container .sign_form .signin_btn .btn_spinner .signup_btn.loading .btn_spinner, .dialog_container .sign_form .signin_btn.loading .btn_spinner, .dialog_container .sign_form .signup_btn.loading .btn_spinner {
  display: inline-block;
}

.confirm .pay_btn.loading .btn_text {
  display: none;
}
.confirm .pay_btn.loading .btn_spinner {
  display: inline-block;
}

.content_container .detail_container .section_profile .profile_right .update_btn.loading .btn_text {
  display: none;
}
.content_container .detail_container .section_profile .profile_right .update_btn.loading .btn_spinner {
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cssload-spin-box {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 21px;
  border-radius: 100%;
  box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  -o-box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  -ms-box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  -webkit-box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  -moz-box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  animation: cssload-spin ease infinite 3.4s;
  -o-animation: cssload-spin ease infinite 3.4s;
  -ms-animation: cssload-spin ease infinite 3.4s;
  -webkit-animation: cssload-spin ease infinite 3.4s;
  -moz-animation: cssload-spin ease infinite 3.4s;
}

.hidden {
  display: none;
}

@keyframes cssload-spin {
  0%, 100% {
    box-shadow: 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223);
  }
  25% {
    box-shadow: -21px 21px rgb(223, 223, 223), -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223), 21px 21px rgb(79, 77, 73);
  }
  50% {
    box-shadow: -21px -21px rgb(79, 77, 73), 21px -21px rgb(223, 223, 223), 21px 21px rgb(79, 77, 73), -21px 21px rgb(223, 223, 223);
  }
  75% {
    box-shadow: 21px -21px #dfdfdf, 21px 21px #4f4d49, -21px 21px #dfdfdf, -21px -21px #4f4d49;
  }
}
html, body {
  margin: 0;
  padding: 0;
  padding-top: 35px;
}

p {
  color: #666666;
}

h1 {
  color: #448899;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
}
input:focus {
  outline: none;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tpfield {
  height: 25px;
  width: 250px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
}

.deperate_line {
  width: 1200px;
  height: 1px;
  border: none;
  margin: 0 auto;
  background-color: #E8E8E8;
}

.headline {
  width: 1000px;
  margin: 30px auto;
}

.booking_list {
  width: 980px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.booking_list .section {
  display: flex;
  width: 100%;
  margin: 15px auto;
}
.booking_list .section .atttraction_img {
  width: 266px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.booking_list .section .infor {
  position: relative;
  width: 100%;
  margin-left: 20px;
}
.booking_list .section .infor .field {
  height: 36px;
}
.booking_list .section .infor .delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.contact_form {
  width: 980px;
  margin: 40px auto;
}
.contact_form .note_text {
  line-height: 25px;
}

.payment {
  width: 980px;
  margin: 40px auto;
}
.payment input[type=month]::-webkit-calendar-picker-indicator {
  background-image: none;
}

.confirm {
  width: 980px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.confirm .pay_btn {
  width: 173px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.confirm .pay_btn .btn_spinner {
  display: none;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-top: 2px solid #448899;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footer p {
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .headline {
    width: 95%;
  }
  .booking_list, .deperate_line, .contact_form, .payment, .confirm {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .booking_list {
    width: 95%;
    margin: 40px auto;
    display: flex;
  }
  .booking_list .section {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }
  .booking_list .section .atttraction_img {
    width: 100%;
    margin-bottom: 20px;
  }
  .booking_list .section .infor {
    margin: 0;
  }
  .booking_list .section .infor .delete {
    top: auto;
    bottom: -20px;
  }
  .contact_form, .payment, .confirm {
    width: 95%;
    margin: 30px auto;
  }
  .contact_form p:not(.note_text), .payment p:not(.note_text), .confirm p:not(.note_text) {
    white-space: nowrap;
  }
}/*# sourceMappingURL=booking.css.map */