@use "variables" as v;

// 字體樣式
@mixin text-style($size, $weight, $line-height){
    font-family: v.$font-family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

// 樣式應用
.slogan-title {
    @include text-style(map-get(v.$font-sizes, "h1"), 700, map-get(v.$line-heights, "h1"));
}

.headline {
    @include text-style(map-get(v.$font-sizes, "h2"), 700, map-get(v.$line-heights, "h2"));
  }
  
.dialog-title-bold {
  @include text-style(map-get(v.$font-sizes, "h3"), 700, map-get(v.$line-heights, "h3"));
}

.dialog-title-regular {
  @include text-style(map-get(v.$font-sizes, "h3"), 400, map-get(v.$line-heights, "h3"));
}

.button-bold {
  @include text-style(map-get(v.$font-sizes, "btn"), 700, map-get(v.$line-heights, "btn"));
}

.button-regular {
  @include text-style(map-get(v.$font-sizes, "btn"), 400, map-get(v.$line-heights, "btn"));
}

.content-bold {
  @include text-style(map-get(v.$font-sizes, "content"), 700, map-get(v.$line-heights, "content"));
}

.content-regular {
  @include text-style(map-get(v.$font-sizes, "content"), 400, map-get(v.$line-heights, "content"));
}

.body-bold {
  @include text-style(map-get(v.$font-sizes, "content"), 700, map-get(v.$line-heights, "body"));
}

.body-medium {
  @include text-style(map-get(v.$font-sizes, "content"), 500, map-get(v.$line-heights, "body"));
}

.category-list {
  @include text-style(map-get(v.$font-sizes, "list"), 500, map-get(v.$line-heights, "list"));
}